In [1]:
import pandas as pd #pandas=create and maintance database function, pd is called as pandas

In [2]:
dataset=pd.read_csv("Salary_Data.csv")  # get input from us

In [3]:
dataset  # print the database

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [10]:
independent=dataset[["YearsExperience"]] # split entier cloumn as input

In [11]:
independent # print input

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
dependent=dataset[["Salary"]] # split entier cloumn as output

In [6]:
dependent # output print

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split( independent, dependent, test_size=0.30,random_state=0)  #split entier rowand cloumn as input and output and train , model the database

In [13]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train) # train model function

LinearRegression()

In [14]:
weight=regressor.coef_
weight # finding slope value

array([[9360.26128619]])

In [15]:
bais=regressor.intercept_
bais # finding the bais value

array([26777.3913412])

In [16]:
y_pred=regressor.predict(x_test) # traing model

In [17]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)  # checking traning and model

In [18]:
r_score  # print score value model value >= 1 is good model

0.9740993407213511

In [19]:
import pickle
filename="finalized_model_linear.sav" # store files

In [20]:
pickle.dump(regressor,open(filename, 'wb')) # this function is used open saved files

In [21]:
loaded_model=pickle.load(open("finalized_model_linear.sav", 'rb'))
result=loaded_model.predict([[15]]) # loader files and give input and test it

C:\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [22]:
result  # print output value function

array([[167181.3106341]])